.cover--container img {
  height: 100%;
  width: 17rem;
}

@media screen and (min-width: 720px) and (max-width: 990px) {
  .img--container {
    width: 30%;
  }
  .cover--container img {
    height: 100%;
    width: 100%;
  }
}

@media screen and (max-width: 720px) {
  .img--container {
    text-align: center;
  }
}
